# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode6.4

env:
  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "m11vvttDsxiXaABcbN5vm3x0v8t5gq8E21XapMFtrynYKBQvy6YT2WAi4y7IjTfhnoWQXbo3AXfXMEfu2l+olgPvhXgW7G47ijwgKpt3tMdSTp7+lqcbCUUcObkCXkE+XYZ9M/W05PeisF36iV9eHPIhHO4wKVvFnC8oIk5FOcLQoAupw4K97s8o6zuiMDq1JuCORs8xKn61AlXtKo6Jkq/eXITgo6gc1c9CullrWdYzsHXnTNZonGF3U4hkoh67T3lvLhXiz81JuK8WfjYax0BMmCzc96THnk3jDs/mRNRHAQkS7EvJ20AfH2xA83Kjjt/eeAZ90zs8nrPBJB/iJQdWleEy57XVFxyAya5nLZfUhiyveYbwyP+4t1StTFNGdHLmG4vhn8pxzL9SVBNSp7ChaW7JpO6Ln+aa25YMzakxMJvSrZauNnUWaA60EFKMBBiUd9IiMhRCTquGRheU27N5PKSXDUWz/Ah3tLQD3bLNAG2BfT8odhTWJkuR3+7kQckwWqxaNPzW7aCz1W1rESBGBTCTuxv5LY3lojG6rjC5s/Q4quncbc6iD+wUnf1BAoISDA+nmAMdqVCs69Eee+/Xlc6YqaaPiPAUxCrtzoTL+I32MJLuThl6jNU7M9d7WnMzFybNQeCqU0+UL9SDjv3ms1YjIIeiEfMS1JZabyQ="


before_install:
    # Remove homebrew.
    - brew remove --force --ignore-dependencies $(brew list)
    - brew cleanup -s
    - rm -rf $(brew --cache)

install:
    - |
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

      source /Users/travis/miniconda3/bin/activate root
      conda config --remove channels defaults
      conda config --add channels defaults
      conda config --add channels conda-forge
      conda config --set show_channel_urls true
      conda install --yes --quiet conda-forge-build-setup
      source run_conda_forge_build_setup

script:
  - conda build ./recipe

  - upload_or_check_non_existence ./recipe conda-forge --channel=main
